<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width" />
	<title>Editar Aeroporto</title>
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	
	<div th:insert="~{Menu :: menu}"></div>
	
	<div class="card" style="margin: 10px">
        
        <div class="card-header">
            <h1 class="card-title">
            	Lista de Aeroportos Cadastrados
			 </h1>
		</div>

		<div class="card-body">
            
            <form class="form-inline" method="POST" th:object="${aeroporto}"
            	th:action="@{/aeroportos}" style="margin: 20px 0">
			    
			    <div class="form-group">
			        <input type="hidden" class="form-control"
			            th:field="*{id}"/>
			        <input type="text" class="form-control"
			            placeholder="Código" required="required"
			            th:field="*{codigo}"/>
			        &nbsp;
			        <input type="text" class="form-control"
			            placeholder="Nome" required="required"
			            th:field="*{nome}"/>
			        &nbsp;
			        <input type="text" class="form-control"
			            placeholder="Localização" required="required"
			            th:field="*{localizacao}"/>
			        &nbsp;
			        <button type="submit"
			            class="btn btn-primary">Salvar
					</button>
			    
			    </div>
			</form>
        </div>
    </div>
</body>
</html>