<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width" />
	<title>Lista de Aviões</title>
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	
	<div th:insert="~{Menu :: menu}"></div>
	
	<div class="card" style="margin: 10px">
        
        <div class="card-header">
            <h1 class="card-title">
            	Lista de Aviões Cadastrados
			 </h1>
		</div>

		<div class="card-body">
            
            <form class="form-inline" method="POST" th:object="${aviao}"
            	th:action="@{/avioes}" style="margin: 20px 0">
			    
			    <div class="form-group">
			        
			        <input type="number" class="form-control"
			            placeholder="Número" required="required"
			            th:field="*{numero}"/>
			        &nbsp;
			        <input type="text" class="form-control"
			            placeholder="Fabricante" required="required"
			            th:field="*{fabricante}"/>
			        &nbsp;
			        <input type="number" class="form-control"
			            placeholder="Capacidade" required="required"
			            th:field="*{capacidade}"/>
			        &nbsp;
			        <input type="text" class="form-control"
			            placeholder="tipo" required="required"
			            th:field="*{tipo}"/>
			        &nbsp;
			        <button type="submit"
			            class="btn btn-primary">Salvar
					</button>
			    
			    </div>
			</form>

            <table class="table">
				<thead> 
					<tr>
                        <th>#</th>
                        <th>NÚMERO</th>
                        <th>FABRICANTE</th>
                        <th>CAPACIDADE</th>
                        <th>TIPO</th>
                        <th>EDITAR</th>
                        <th>EXCLUIR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="aviao : ${avioes}">
					    <td th:text="${aviao.id}"></td>
					    <td th:text="${aviao.numero}"></td>
					    <td th:text="${aviao.fabricante}"></td>
					    <td th:text="${aviao.capacidade}"></td>
					    <td th:text="${aviao.tipo}"></td>
					    <td> 
					    	<a class="btn btn-primary"
					    		th:href="@{/avioes/{id}(id=${aviao.id})}">Editar
					    	</a>
					    </td>
					    <td> 
					    	<a class="btn btn-danger"
					    		th:href="@{/avioes/deletar/{id}(id=${aviao.id})}">Excluir
					    	</a>
					    </td>
					</tr>
                </tbody>
            </table>
            
        </div>
    </div>
</body>
</html>