<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width" />
	<title>Excluir Carro</title>
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	
	<div th:insert="~{Menu :: menu}"></div>
	
	<div class="card" style="margin: 10px">
        
        <div class="card-header">
            <h1 class="card-title">Deseja realmente excluir o carro ?</h1>
		</div>

		<div class="card-body">
            
            <form class="form-inline" method="DELETE" th:object="${carro}"
            	th:action="@{/carro/deletar/{id}(id=${carro.id})}" style="margin: 20px 0">
			    
			    <div class="form-group">
			        
			        <input type="hidden" class="form-control"
			        	readOnly="readonly"
			            th:field="*{id}"/>
			            
			        <input type="text" class="form-control"
			            readOnly="readonly"
			            th:field="*{placa}"/>
			        &nbsp;
			        <button type="submit"
			            class="btn btn-primary">Sim
					</button>
					&nbsp;
					<a th:href="@{/carros}"><button type="button"
			            class="btn btn-danger">Não
					</button>
			    	</a>
			    </div>
			</form>
            
        </div>
    </div>
</body>
</html>