<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width" />
	<title>Lista de Infrações</title>
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	
	<div th:insert="~{Menu :: menu}"></div>
	
	<div class="card" style="margin: 10px">
        
        <div class="card-header">
            <h1 class="card-title">
            	Lista de Infrações Cadastradas
			 </h1>
		</div>

		<div class="card-body">
            
            <form class="form-inline" method="POST" th:object="${tipoInfracao}"
            	th:action="@{/infracoes}" style="margin: 20px 0">
			    
			    <div class="form-group">
			        
			        <textarea class="form-control"
			            placeholder="Descrição" rows="3"
			            th:field="*{descricao}">
			        </textarea>
			        &nbsp;
			        <input type="text" class="form-control"
			            placeholder="Pontos"
			            th:field="*{pontos}"/>
			        &nbsp;
			        <input type="text" class="form-control"
			            placeholder="Valor"
			            th:field="*{valor}"/>
			        &nbsp;
			        <button type="submit"
			            class="btn btn-primary">Salvar
					</button>
			    
			    </div>
			</form>

            <table class="table">
				<thead> 
					<tr>
                        <th>#</th>
                        <th>DESCRIÇÃO</th>
                        <th>PONTOS</th>
                        <th>VALOR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tipoInfracao : ${tipoInfracoes}">
					    <td th:text="${tipoInfracao.id}"></td>
					    <td th:text="${tipoInfracao.descricao}"></td>
						<td th:text="${tipoInfracao.pontos}"></td>
						<td th:text="${'R$ '+tipoInfracao.valor}"></td>
					</tr>
                </tbody>
            </table>
            
        </div>
    </div>
</body>
</html>